#preview {
    font-family: Arial, sans-serif;
    color: #333;
}

#preview h1 {
    font-size: 2.5rem;
    line-height: 2.75rem;
    font-weight: 600;
    text-transform: none;
    margin-bottom: 1rem;
}

#preview h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-transform: none;
    margin-bottom: 0.75rem;
}

#preview h3 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-transform: none;
    margin-bottom: 0.5rem;
}

#preview h4, #preview h5, #preview h6 {
    font-weight: 600;
    text-transform: none;
    margin-bottom: 0.5rem;
}

#preview p {
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    text-transform: none;
    text-align: left;
    margin-bottom: 1rem;
}

#preview a {
    text-decoration: underline;
    color: #007BFF;
    transition: color 0.2s ease;
}

#preview a:hover {
    color: #0056b3;
}

#preview ul, #preview ol {
    margin-left: 1.5rem;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    text-align: left;
    text-transform: none;
    margin-bottom: 1rem;
}

#preview li {
    margin-bottom: 0.5rem;
}

#preview blockquote {
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    padding: 1rem;
    border-left: 4px solid #ccc;
    background-color: #f9f9f9;
    margin-bottom: 1rem;
    text-align: left;
}

#preview pre {
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    background-color: #1a1919;
    padding: 1rem;
    border-radius: 4px;
    overflow-x: auto;
    margin-bottom: 1rem;
    text-align: left;
    color: #fff;
}

#preview code {
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    background-color: #2b2828;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    text-align: left;
    color: #fff;
}

#preview img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

#preview hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 2rem 0;
}

#preview table {
    border-collapse: collapse;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    width: 100%;
    margin-bottom: 1rem;
}

#preview td, #preview th {
    padding: 0.5rem;
    border: 1px solid #ccc;
}

#preview th {
    font-weight: bold;
    background-color: #f9f9f9;
}

#preview tr:nth-child(even) {
    background-color: #f2f2f2;
}

#preview tr:hover {
    background-color: #ddd;
}

#preview caption {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
}

#preview figcaption {
    font-weight: bold;
    text-align: center;
    margin-top: 0.5rem;
}
